body{
    background-color: #110011;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flex{
    display: flex;
    justify-content: space-between;
}

.flex-container{
    width: 83%;
    height: 590px;
}

.group-left{
    width: 24%;
    flex-direction: column;
}

.rectangle-small{
    background-color: darkgreen;
    width: 100%;
    height: 18%;
}

.rectangle-big{
    background-color: goldenrod;
    width: 100%;
    height: 54%;
}

.group-middle{
    background-color: darkorange;
    width: 13%;
}

.group-right{
    width: 57%;
    height: 100%;
    flex-direction: column;
}

.row-top{
    width: 100%;
    height: 22%;
}

.row-middle{
    width: 100%;
    height: 18%;
}

.row-bottom{
    width: 100%;
    height: 50%;    
}

.item-top-left{
    background-color: antiquewhite;
    width: 44%;
    height: 100%;
}

.item-top-right{
    background-color: burlywood;
    width: 51%;
    height: 100%;
}

.item-mid-left{
    background-color: blueviolet;
    width: 31%;
    height: 100%;
}

.item-mid-right{
    background-color: darkslateblue;
    width: 64%;
    height: 100%;
}

.item-bot-left{
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.subItem-bot-top{
    width: 100%;
    height: 36%;
}   

.subItem-bot-topLeft{
    background-color: deeppink;
    width: 56%;
    height: 100%;
}

.subItem-bot-topRight{
    background-color: blueviolet;
    width: 34%;
    height: 100%;
}


.subItem-bot-bottom{
    width: 100%;
    height: 55%;
}

.subItem-bot-botLeft{
    background-color: green;
    width: 50%;
    height: 100%;
}

.subItem-bot-botRight{
    background-color: lawngreen;
    width: 40%;
    height: 100%;
}


.item-bot-mid{
    background-color: aqua;
    width: 20%;
    height: 100%;
}

.item-bot-right{
    width: 19%;
    height: 100%;
    flex-direction: column;
}

.subItem-top{
    background-color: brown; 
    width: 100%;
    height: 46%; 
}

.subItem-bot{
    background-color: crimson;
    width: 100%;
    height: 44%;
}