body{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.flex-container{
    background-color: rgb(83, 83, 83);
    width: 97%;
    height: 450px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

.item1{
    background-color: #0404bd;
    width: 35%;
    height: 100%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sector1{
    width: 62%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item2{
    background-color: #485fc7;
    width: 100%;
    height: 47%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sector2{
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: space-between;
}

.item3{
    background-color: #955fff;
    width: 47%;
    height: 100%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sector3{
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item4{
    background-color: #b35fff;
    width: 100%;
    height: 47%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}