body{
    background-color: #110011;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flex{
    display: flex;
    justify-content: space-between;
}

.flex-container{
    width: 83%;
    height: 590px;
}

.group-left{
    width: 24%;
    flex-direction: column;
}

.rectangle-small{
    background-color: darkgreen;
    width: 100%;
    height: 18%;
}

.rectangle-big{
    background-color: goldenrod;
    width: 100%;
    height: 54%;
}

.group-middle{
    background-color: darkorange;
    width: 15%;
}

.group-right{
    background-color: darkcyan;
    width: 55%;
}

